
.task-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    height: calc(100 - 100px);
    overflow-y: auto;

}

ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin: 10px 0;
  }
  button {
    margin-left: 10px;
  }